{erl_opts, [debug_info]}.
{deps, [
    %% Libraries for postgres interaction
    {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.7.1"}}},
    {epgsql_pool, {git, "https://github.com/wgnet/epgsql_pool", {branch, "master"}}},
    {herd, {git, "https://github.com/wgnet/herd.git", {tag, "1.3.4"}}}
]}.
