[
    {progressor, [
        {namespaces, [
            {default, [
                %% required
                {storage, [
                    %% required
                    {client, pg_backend},
                    %% backend specific
                    {options, [
                        {pool, default_pool}
                        %% {tables, [
                        %%     {processes, "default_processes"},
                        %%     {events, "default_events"},
                        %%     {timers, "default_timers"}
                        %% ]}
                    ]}
                ]},
                %% required
                {processor, [
                    %% required
                    {client, echo_processor},
                    %% client specific
                    {options, [
                        %%{url, "http://testproc:8787/proc"}
                    ]}
                ]},
                %% optional
                {retry_policy, [
                    {initial_timeout, 10}, %% seconds
                    {backoff_coefficient, 2.0},
                    {max_timeout, 600}, %% seconds
                    {max_attempts, 5},
                    {non_retryable_errors, [
                        some_reason,
                        any_term,
                        <<"Error message">>,
                        {temporary, unavilable}
                    ]}
                ]},
                %% optional
                {worker_pool_size, 10},
                %% optional
                {process_step_timeout, 60} %% seconds
            ]}
        ]}
    ]},

    %%
    {pg_backend, [
        {databases, [
            {default_db, [
                {host, "127.0.0.1"},
                {port, 5432},
                {database, "progressor_db"},
                {username, "progressor"},
                {password, "progressor"}
            ]}
        ]},
        {pools, [
            {default_pool, [
                {database, default_db},
                {size, 10}
            ]}
        ]}
    ]}

].
